In [ ]:
!pip install mlxtend

In [16]:
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np
import pandas as pd

In [6]:
data = pd.read_excel('Day1.xlsx')

In [7]:
data

       0      1      2       3     4      5
0   Wine  Chips  Bread  Butter  Milk  Apple
1   Wine    NaN  Bread  Butter  Milk    NaN
2    NaN    NaN  Bread  Butter  Milk    NaN
3    NaN  Chips    NaN     NaN   NaN  Apple
4   Wine  Chips  Bread  Butter  Milk  Apple
5   Wine  Chips    NaN     NaN  Milk    NaN
6   Wine  Chips  Bread  Butter   NaN  Apple
7   Wine  Chips    NaN     NaN  Milk    NaN
8   Wine    NaN  Bread     NaN   NaN  Apple
9   Wine    NaN  Bread  Butter  Milk    NaN
10   NaN  Chips  Bread  Butter   NaN  Apple
11  Wine    NaN    NaN  Butter  Milk  Apple
12  Wine  Chips  Bread  Butter  Milk    NaN
13  Wine    NaN  Bread     NaN  Milk  Apple
14  Wine    NaN  Bread  Butter  Milk  Apple
15  Wine  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips  Bread  Butter  Milk  Apple
17   NaN  Chips    NaN  Butter  Milk  Apple
18  Wine  Chips  Bread  Butter  Milk  Apple
19  Wine    NaN  Bread  Butter  Milk  Apple
20  Wine  Chips  Bread     NaN  Milk  Apple
21   NaN  Chips    NaN     NaN   NaN    NaN

In [8]:
store_data = pd.get_dummies(data)

In [9]:
store_data

    0_Wine  1_Chips  2_Bread  3_Butter  4_Milk  5_Apple
0        1        1        1         1       1        1
1        1        0        1         1       1        0
2        0        0        1         1       1        0
3        0        1        0         0       0        1
4        1        1        1         1       1        1
5        1        1        0         0       1        0
6        1        1        1         1       0        1
7        1        1        0         0       1        0
8        1        0        1         0       0        1
9        1        0        1         1       1        0
10       0        1        1         1       0        1
11       1        0        0         1       1        1
12       1        1        1         1       1        0
13       1        0        1         0       1        1
14       1        0        1         1       1        1
15       1        1        1         1       1        1
16       0        1        1         1       1        1
17       0        1        0         1       1        1
18       1        1        1         1       1        1
19       1        0        1         1       1        1
20       1        1        1         0       1        1
21       0        1        0         0       0        0

In [12]:
association_rules = apriori?

In [14]:
frequent_itemsets = apriori(store_data, min_support=0.50, max_len=2)

In [15]:
frequent_itemsets

     support itemsets
0   0.727273      (0)
1   0.636364      (1)
2   0.727273      (2)
3   0.681818      (3)
4   0.772727      (4)
5   0.681818      (5)
6   0.590909   (0, 2)
7   0.500000   (0, 3)
8   0.636364   (0, 4)
9   0.500000   (0, 5)
10  0.590909   (2, 3)
11  0.590909   (2, 4)
12  0.545455   (2, 5)
13  0.590909   (3, 4)
14  0.500000   (3, 5)
15  0.500000   (4, 5)

In [17]:
rules = association_rules(frequent_itemsets, metric='lift',min_threshold=1)

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(2),0.727273,0.727273,0.590909,0.812500,1.117188,0.061983,1.454545
1,(2),(0),0.727273,0.727273,0.590909,0.812500,1.117188,0.061983,1.454545
2,(0),(3),0.727273,0.681818,0.500000,0.687500,1.008333,0.004132,1.018182
3,(3),(0),0.681818,0.727273,0.500000,0.733333,1.008333,0.004132,1.022727
4,(0),(4),0.727273,0.772727,0.636364,0.875000,1.132353,0.074380,1.818182
5,(4),(0),0.772727,0.727273,0.636364,0.823529,1.132353,0.074380,1.545455
6,(0),(5),0.727273,0.681818,0.500000,0.687500,1.008333,0.004132,1.018182
7,(5),(0),0.681818,0.727273,0.500000,0.733333,1.008333,0.004132,1.022727
8,(2),(3),0.727273,0.681818,0.590909,0.812500,1.191667,0.095041,1.696970
9,(3),(2),0.681818,0.727273,0.590909,0.866667,1.191667,0.095041,2.045455
10,(2),(4),0.727273,0.772727,0.590909,0.812500,1.051471,0.028926,1.212121
11,(4),(2),0.772727,0.727273,0.590909,0.764706,1.051471,0.028926,1.159091
12,(2),(5),0.727273,0.681818,0.545455,0.750000,1.100000,0.049587,1.272727
13,(5),(2),0.681818,0.727273,0.545455,0.800000,1.100000,0.049587,1.363636
14,(3),(4),0.681818,0.772727,0.590909,0.866667,1.121569,0.064050,1.704545
15,(4),(3),0.772727,0.681818,0.590909,0.764706,1.121569,0.064050,1.352273
16,(3),(5),0.681818,0.681818,0.500000,0.733333,1.075556,0.035124,1.193182
17,(5),(3),0.681818,0.681818,0.500000,0.733333,1.075556,0.035124,1.193182