In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({'CreateDate':['2019-01-24','2019-02-03','2019-02-04','2019-02-05','2019-02-06','2019-02-07','2019-02-08','2018-12-03','2019-02-09','2019-01-09','2019-01-31','2019-02-01','2019-02-02'],'count_IncidentId':[1,80,117,29,61,77,56,4,36,1,298,428,1394]})
df

    CreateDate  count_IncidentId
0   2019-01-24                 1
1   2019-02-03                80
2   2019-02-04               117
3   2019-02-05                29
4   2019-02-06                61
5   2019-02-07                77
6   2019-02-08                56
7   2018-12-03                 4
8   2019-02-09                36
9   2019-01-09                 1
10  2019-01-31               298
11  2019-02-01               428
12  2019-02-02              1394

In [4]:
Q1=df.quantile(.25)
Q1

count_IncidentId    29.0
Name: 0.25, dtype: float64

In [5]:
Q3=df.quantile(.75)
Q3

count_IncidentId    117.0
Name: 0.75, dtype: float64

In [7]:
IQR=Q3-Q1
IQR

count_IncidentId    88.0
dtype: float64

In [8]:
val=Q3 + 1.5 * IQR
val

count_IncidentId    249.0
dtype: float64

In [11]:
df[df.count_IncidentId>249]

    CreateDate  count_IncidentId
10  2019-01-31               298
11  2019-02-01               428
12  2019-02-02              1394