In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("CarSales.csv")

In [8]:
df.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,Engine Size,Cylinders,Horsepower,MPG,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6,4451,17,106,189
1,Acura,RSX,Sedan,Asia,Front,2380,21761,2.0,4,2778,24,101,172
2,Acura,TSX,Sedan,Asia,Front,26990,24647,2.4,4,3230,22,105,183