In [1]:
import pandas as pd

In [2]:
index = pd.date_range('1/1/2000', periods=4, freq='T')

In [3]:
index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00'],
              dtype='datetime64[ns]', freq='T')

In [4]:
series = pd.Series([0.0, None, 2.0, 3.0], index=index)

In [5]:
series

2000-01-01 00:00:00    0.0
2000-01-01 00:01:00    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:03:00    3.0
Freq: T, dtype: float64

In [6]:
type(series.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
df = pd.DataFrame({'s':series})

In [8]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [17]:
df.asfreq(freq='30S',inpl)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [18]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [20]:
index = pd.date_range('1/1/2015', periods=5)
index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [21]:
index = pd.date_range('1/1/2015', periods=5, freq='Q')
index

DatetimeIndex(['2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [22]:
index = pd.date_range('1/1/2015', periods=5, freq='BA')
index

DatetimeIndex(['2015-12-31', '2016-12-30', '2017-12-29', '2018-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq='BA-DEC')