In [1]:
import pandas as pd

In [2]:
emp=pd.DataFrame({'Name':['Prasad','Balram','Pranaya'],'Gender':['Male','Male','Female'],'Age':[45,32,28]})

In [3]:
emp

      Name  Gender  Age
0   Prasad    Male   45
1   Balram    Male   32
2  Pranaya  Female   28

In [4]:
pd.get_dummies(emp)

   Age  Name_Balram  Name_Pranaya  Name_Prasad  Gender_Female  Gender_Male
0   45            0             0            1              0            1
1   32            1             0            0              0            1
2   28            0             1            0              1            0

In [4]:
dummies=pd.get_dummies(emp.Gender)

In [42]:
dummies

   Female  Male
0       0     1
1       0     1
2       1     0

In [43]:
emp['Female']=dummies['Female']

In [44]:
emp['Male']=dummies['Male']

In [45]:
emp

      Name  Gender  Age  Female  Male
0   Prasad    Male   45       0     1
1   Balram    Male   32       0     1
2  Pranaya  Female   28       1     0

In [30]:
pd.merge?

In [31]:
emp=pd.merge(emp,dummies,how='inner')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False