In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv')
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [10]:
df['genre'].value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: genre, dtype: int64

In [16]:
df.groupby('genre')['title'].count().sort_values(ascending = False)

genre
Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: title, dtype: int64

In [27]:
df['star_rating'].agg(min)

7.4

In [28]:
df['star_rating'].agg([min,max])

min    7.4
max    9.3
Name: star_rating, dtype: float64

In [29]:
df.groupby('genre')['star_rating'].agg([min,max])

           min  max
genre
Action     7.4  9.0
Adventure  7.4  8.9
Animation  7.4  8.6
Biography  7.4  8.9
Comedy     7.4  8.6
Crime      7.4  9.3
Drama      7.4  8.9
Family     7.8  7.9
Fantasy    7.7  7.7
Film-Noir  7.7  8.3
History    8.0  8.0
Horror     7.4  8.6
Mystery    7.4  8.6
Sci-Fi     7.7  8.2
Thriller   7.5  8.0
Western    7.6  8.9