In [1]:
import pandas as pd
import math
from operator import itemgetter

In [2]:
data = pd.DataFrame({'Movie':['Titanic','Lord of the rings','Wrath of Titans','Perfume','Rambo','Bahubali','American Pie','Love Story'],'Kss':[50,10,9,120,5,2,80,99],'Kicks':[3,40,89,11,80,110,20,30],
                    'Type':['Romance','Action','Action','Romance','Action','Action','Romance','Romance']})
data

               Movie  Kss  Kicks     Type
0            Titanic   50      3  Romance
1  Lord of the rings   10     40   Action
2    Wrath of Titans    9     89   Action
3            Perfume  120     11  Romance
4              Rambo    5     80   Action
5           Bahubali    2    110   Action
6       American Pie   80     20  Romance
7         Love Story   99     30  Romance

In [3]:
def getdistance(x1,y1,x2,y2):
    dist = math.sqrt((x1-x2)**2 + (y1-y2)**2)
    return dist

In [4]:
dist = getdistance(10,50, 50,3)
dist

61.71709649683789

In [24]:
distances=[]
trainingset = data['Type']
trainingset 

for x in range(len(data)):
    dist=getdistance(10,100,data['Kss'][x],data['Kicks'][x])
    distances.append((trainingset[x],dist))

distances.sort(key=itemgetter(1))
distances

[('Action', 11.045361017187261),
 ('Action', 12.806248474865697),
 ('Action', 20.615528128088304),
 ('Action', 60.0),
 ('Romance', 104.92378186092989),
 ('Romance', 106.30145812734649),
 ('Romance', 113.22985472038724),
 ('Romance', 141.4955829699288)]

In [25]:
mydataset=distances
k=3
neighbors = []
for x in range(k):
    neighbors.append(mydataset[x])
neighbors

[('Action', 11.045361017187261),
 ('Action', 12.806248474865697),
 ('Action', 20.615528128088304)]

In [26]:
classvotes = {}
for x in range(len(neighbors)):
    resp = neighbors[x][-1]
    if resp in classvotes:
        classvotes[resp] += 1 
    else:
        classvotes[resp] = 1 

sortedvotes = sorted(classvotes.items(),key=itemgetter(1),reverse=True)


neighbors[0][0]

'Action'