In [1]:
import pandas as pd 
countries_population = {"Italy": 59000000, "France": 65000000,
                        "Malta": 434000, "Maldives": 434000,
                        "Brunei": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Tuvalu": 11300,
                        "Anguilla": 11300, "Monserat": 5200}
s = pd.Series(countries_population)
s

Italy       59000000
France      65000000
Malta         434000
Maldives      434000
Brunei        434000
Iceland       337000
Nauru          11300
Tuvalu         11300
Anguilla       11300
Monserat        5200
dtype: int64

In [2]:
s.nlargest()

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

In [3]:
s.nlargest(2)

France    65000000
Italy     59000000
dtype: int64

In [6]:
import pandas as pd 
population = {"Italy": 59000000, "India": 65000000,
                        "India": 434000, "India": 434000,
                        "Italy": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Italy": 11300,
                        "Iceland": 11300, "Iceland": 5200}
ser = pd.Series(population)
ser

Italy       11300
India      434000
Iceland      5200
Nauru       11300
dtype: int64

In [ ]:
import pandas as pd 
population = {"Country":["Italy","India","India","India","Italy","Iceland"]59000000,65000000,434000,434000,434000, : 337000,
                        "Nauru": 11300, "Italy": 11300,
                        "Iceland": 11300, "Iceland": 5200}
ser = pd.DataFrame(population)
ser